<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"

	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:ehcache="http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd   
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd   
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd   
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd     
      http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring
     http://ehcache-spring-annotations.googlecode.com/svn/schema/ehcache-spring/ehcache-spring-1.1.xsd"
	default-lazy-init="true" default-autowire="byName"
	xmlns:util="http://www.springframework.org/schema/util">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>WEB-INF/jdbc.properties</value>
			</list>
		</property>
	</bean>
	
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="poolPreparedStatements" value="true" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.connection.release_mode">after_transaction</prop>
				<prop key="hibernate.transaction.auto_close_session">true</prop>
			</props>
		</property>
		
		<!--  <property name="mappingLocations">
			<list>
				<value>software/lawyer/data/dataobject/*.hbm.xml</value>
			</list>
		</property>  -->
		
		 <property name="packagesToScan">
			<list>
				<value>software.lawyer.data.dataobject</value>
			</list>
		</property>  
	</bean>
	
	<context:component-scan base-package="software.lawyer.service.impl"></context:component-scan>

	<!-- <bean id="exceptionResolver" class="software.bbs.service.SystemExceptionResolver">
		<property name="defaultErrorView" value="error"></property>
		<property name="exceptionMappings">
			<props>
				<prop key="java.lang.Exception">error</prop>
			</props>
		</property>
	</bean> -->

	<!-- 缓存 -->
	<!-- <ehcache:annotation-driven cache-manager="ehCacheManager" />
	<bean id="ehCacheManager"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" /> -->


	<!-- 定义本地化处理器 基于session -->
	<bean id="localeResolver"
		class="org.springframework.web.servlet.i18n.SessionLocaleResolver" />

	<bean id="responseBuilder" class="software.lawyer.web.ResponseBuilder" />

	<!-- 事务处理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 设置文件长传最大为100MB -->
		<property name="maxUploadSize">
			<value>104857600</value>
		</property>
	</bean>
	
	    <!-- 所有业务dao的parent -->
    <bean id="baseDao" abstract="true">
    	<property name="sessionFactory" ref="sessionFactory"></property>
    </bean>
    <bean id="userDao" class="software.lawyer.data.dao.impl.UserDaoImpl" parent="baseDao"></bean>
	<bean id = "pubajjbDao" class="software.lawyer.data.dao.impl.PubajjbDaoImpl" parent="baseDao"></bean>
	<bean id = "rmpsyHolidayDao" class = "software.lawyer.data.dao.impl.RmpsyHolidayDaoImpl" parent = "baseDao"></bean>
	<bean id = "qtsscyrDao" class = "software.lawyer.data.dao.impl.QtsscyrDaoImpl" parent = "baseDao"></bean>
	<bean id="lawyerDao" class="software.lawyer.data.dao.impl.LawyerDaoImpl" parent = "baseDao"></bean>
	<bean id="roleDao" class="software.lawyer.data.dao.impl.RoleDaoImpl" parent = "baseDao"></bean>
	<bean id="permissionCheck" class="software.lawyer.web.permission.impl.PermissionCheckImpl"></bean>
	<bean id="infoDao" class="software.lawyer.data.dao.impl.InfoDaoImpl" parent="baseDao"></bean>
	<bean id="complainDao" class="software.lawyer.data.dao.impl.ComplainDaoImpl" parent="baseDao"></bean>
	</beans>

